@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<h4>WebPage Tester is a Cloud  Based Application where you can test some of of the key aspects of your website <br /> in terms of security, networks and utility information.</h4>
