@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    University of Costa Rica<br />
    Paraíso, Cartago<br />
    <abbr title="Phone">P:</abbr>
    2511 6069
</address>

<address>
    <strong>Developers:</strong> <br /> <a>Ian Ondoy Quirós - B95671</a><br />
    <a>Carlos Paniagua Fernández - B78896</a><br />
    <a>Jesus Vargas - B98295</a><br />
    <a>Allan Vega Vindas - B88414</a><br />
    <br /> <strong>Project Manager:</strong> <br /> <a>Andrés Meseguer.</a>
</address>